       </main>
    </nav>
    <script>
      var bargar = document.querySelector(".bargar");
      var navBarNav = document.querySelector(".nav-iteamk");
      var main = document.querySelector(".main");
      var bars = document.querySelector(".fa-bars");
      var cross = document.querySelector(".fa-times");

    bargar.addEventListener("click", () => {

        navBarNav.classList.toggle("active-navbar"); 

        main.classList.toggle("main-diactivate"); 

        bars.classList.toggle("main-diactivate"); 

        cross.classList.toggle("active-navbar"); 
    });
    </script>
      <section id="footer" >
        <p>Privacy Policy <span>|</span> Privacy & Security <span>|</span>  Bank Lynxshares,inc. <span>|</span> Member FDIC. Equal Housing Lender </p>
        <p>© 2021  Bank Lynx. All rights reserved</p>
        </section>

        <script>
          let preloder = document.getElementById("afterClick");
          function myFunction()
          {
            preloder.style.display = "none";
          }
        </script>

      <script>

          let afterClick = document.getElementById("afterClick");
          function myAfterClick()
          {
            afterClick.style.display = "flex";
          }

      </script>
</body>
</html>