<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <title>Bank Lynx</title>
  </head>
    <style>
      body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5; 
      }
        h1 {
          color: rgb(201, 57, 57);
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          color: #404F5E;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
        }
      i {
        color: rgb(201, 57, 57);
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
      }
      .card a{
          padding: 6px 15px;
          border: 4px solid rgb(218, 52, 52);
          font-size: 22px;
          color: rgb(207, 46, 46);
          text-decoration: none;
      }
      .card a:hover{
          border: 4px solid rgb(71, 218, 52);
          color: rgb(244, 248, 244);
          background-color: rgb(56, 207, 88);
      }
    </style>
    <body>
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">X</i>
      </div>
        <h1>Sorry! Failed to Register!</h1> 
        <a href="<%= backUrl %>">Retry</a>
      </div>
    </body>
</html>