        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
            $('.menu-toggle').click(function () {
                $(".nav").toggleClass("mobile-nav");
                $(this).toggleClass("is-active");
            });
    
        </script>
              <section id="footer" >
                <p>Privacy Policy <span>|</span> Privacy & Security <span>|</span>  Bank Lynxshares,inc. <span>|</span> Member FDIC. Equal Housing Lender </p>
                <p>© 2021  Bank Lynx. All rights reserved</p>
        </section>


        <script>
            let preloder = document.getElementById("afterClick");
            function myFunction()
            {
              preloder.style.display = "none";
            }
          </script>
          
          <script>
            let afterClick = document.getElementById("afterClick");
            function myAfterClick()
            {
              afterClick.style.display = "flex";
            }
          </script>


</body>
</html>  